<div id = "container">
</div>

<div id = "header">
	<h1>BEER BLOG</h1><link href='https://fonts.googleapis.com/css?family=Boogaloo' rel='stylesheet' type='text/css'>
</div>

	

<div id = "validation">
		<div id = "validation2"></div>

				<%= form_for @user do |f| %> 
				<%=f.text_field :name, placeholder:"Name" %>
				<br>
				<br>
				<%=f.email_field :email, placeholder:"Email" %>
				<br>
				<br>
				<%=f.password_field :password, placeholder:"Password" %>
				<br>
				<br>
				<%=f.submit :SignUp %>
				<br>
				<br>

		<% end %>		
	
</div>

<div id="footer">Coppyright &copy; 2016</div>
