<div id ="header">
	<h1>BEER BLOG</h1>
</div> 

<li><%= button_to "Review Some More Beer!", beers_path, method: :get %> </li></li><link href='https://fonts.googleapis.com/css?family=Boogaloo' rel='stylesheet' type='text/css'>

<%= @beer.name %>
<br>
<%= @beer.style %>
<br>
<%= @beer.alcohol %>
<br>
<%= image_tag @beer.image_url %>

<%= form_for @comment do |f| %>
<%= f.label "Leave a Comment:" %>
<%= f.text_field :body %>
<%= f.hidden_field :beer_id, :value => @beer.id %>
<%= f.submit :create %>
<% end %>

<% @comments.each do |comment| %>
	<p><%= comment.body %> Posted By: <%= comment.user.name %></p>
	<li><%= button_to "Delete Comment", comment_path(comment), method: :delete %> </li>
	<li><%= button_to "Edit Comment", edit_comment_path(comment), method: :get %> </li>


<% end %>

 <% if flash[:notice] %>
    <div class="Welcome, Drink Up!"><%= flash[:notice] %></div>
  <% end %>

  <div id="footer">Coppyright &copy; 2016</div>